<li>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#link-to 'post' post.id}}<h4>{{post.title}}</h4>{{/link-to}}
          <h6>~{{post.author}}</h6>
        </div>
      </div>
    </div>
  </div>
</li>
