<div class="well well-default">
  <h3>{{post.title}}</h3>
  <p>{{post.question}}</p>
  <p>{{post.notes}}</p>
</div>

<ul>
  {{#each post.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>