html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background: #195658;
  font-family: 'anonymous pro', monospace;
  font-size: 20px;
}

#outlet-body {
  position: relative;
  height: 100%;
}
#indexText {
  color: white;
}

.navbar {
  border-radius: 0;
  padding: 2%;
  font-family: 'archivo black', sans-serif;
  font-size: 24px;
}

#header-text {
  font-size: 30px;
  color: black;
}
#header-text:hover {
  color: #1C2C41;
  text-decoration: none;
}

.nav-pills {
  float: right;
  color: black;
  margin: auto;
}

#home  {
  float: bottom;
  color: white;
  font-size: 15px;
}

.well.new-post {
  margin-right: 11.5%;
}

#nav-heart {
  font-size: 40px;
  margin-left: 1%;
}

li {
  list-style: none;
}

.well {
  border: none;
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#answers {
  color: white;
  text-align: center;
}

#page-title {
  color: white;
  text-align: center;
  margin-bottom: 1%;

}

#timestamp {
  float: right;
}

.special-icon {
  float: right;
}

.glyphicon-heart {
  float: right;
}
.glyphicon-heart:hover {
  color: #EB0101;
}

.glyphicon-heart.added {
  color: #EB0101;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
    background-color: #f5f5f5;
}

.footer h5 {
  text-align: center;
  margin-top: 1%;
}