<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header row">
      <h2 id="headerText">Q & A Message Board</h2>
     
    </div>
    <ul class="nav nav-pills">
      <li id="navPill">{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </div>
</nav>

{{outlet}}

