<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header row">
      <h2 id="header-text">{{#link-to 'index'}}Q & A Message Board{{/link-to}}</h2>
    </div>
    <ul class="nav nav-pills">
      <span id="nav-heart" class="glyphicon glyphicon-heart">{{#link-to 'favorite'}}Favorites{{/link-to}}</span> <li id="navPill">{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
    
  </div>
</nav>

<div id="outlet-body" class="container-fluid">

{{outlet}}

</div>

<footer class="footer">
  <div class="container-fluid">
    <h5><em>2017 Message Board</em></h5>
  </div>
</footer>
